<!DOCTYPE html>
<html>
<head>
	<title>Tomatoes man!</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tomatoes.css') }}">

</head>
<body>
	<a href="/">Homepage</a>
	<div class="card">
	  <img src="https://boygeniusreport.files.wordpress.com/2019/05/capture-2.png?w=782" alt="Tomato man" style="width:100%">
	  <h1>Wow a wonderful Tomato</h1>
	  <p class="price">$1000.99</p>
	  <p>Tomato Tomatoes</p>
	  <p><button>Add to Cart </a href="/cart">/button></p>
	</div>



</body>
</html>