<!DOCTYPE html>
<html>
<head>
	<title>Tomatoes man!</title>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tomatoes.css') }}">

</head>
<body>
	<a href="/">Homepage</a>
	{%for i in p%}
	<div class="cart">

	  <img src="{{i.Picture}}" alt="Tomato man" style="width:100%">
	  <h1>{{i.name}}</h1>
	  <p class="price">{{i.price}}</p>
	  <p>{{i.Description}}</p>
	  <p><button>Add to Cart</a href="{{ url_for('Add_To_Cart', productID=i.id) }}">store>/button></p>
	</div>

	{%endfor%}

</body>
</html>